<toolbar></toolbar>

<div class="container">
    <div class="row">
        <button class="standardButton" routerLink='/newEstate' >
            Dodaj novu
        </button>
        <form name="form" method="post" enctype="multipart/form-data" *ngIf="isAdmin">
            <button (click)="inputFile.click()" class="okButton">Dodaj više</button>    
            <input #inputFile type="file" style="visibility:hidden;" (change)="insertMany($event.target.files)"/>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let estate of estates;">  
            <estate-card  [estate]="estate"></estate-card>  
        </div>
    </div>
</div>