<toolbar></toolbar>

<div *ngIf="estate" class="container">
    <div class="row">                
        <div class="col-6">                        
            <div class="gallery">        
                <ngb-carousel>
                  <ng-container *ngFor="let img of estate.video['img']; index as i;">
                      <ng-template ngbSlide >
                        <div class="picsum-img-wrapper">
                          <img [src]="img" class="standardImage" alt="Random slide">
                        </div>
                      </ng-template>
                  </ng-container>
                </ngb-carousel>
              </div>
        </div>        
        <div class="col-6">
            <div class="card-body reducedPadding">
                <h1 class="card-title estateTitle">{{estate.name}}</h1>
                <p class="card-text estateDesc">
                    Opština:&nbsp;{{region}}<br/>
                    Grad:&nbsp;{{estate.city}}<br/>
                    Cena:&nbsp;{{estate.price}}€<br/>
                    Tip:&nbsp;{{estate.type + " (" + estate.size + ")m"}}<sup>2</sup>{{" - Broj soba: " + estate.rooms}}<br/>
                    {{estate.sale ? "Prodaje se" : "Izdaje se"}}                
                </p>
                <div *ngIf="loggedUsername != estate.owner && !adminWorker">
                    <div *ngIf="estate.sale">
                        <p>
                            Izaberite način plaćanja
                        </p>
                        <form [formGroup]="payment">
                            <label>
                            <input type="radio" value="Gotovina" formControlName="type">
                                <span>Gotovina</span>
                            </label>
                            <label>
                            <input type="radio" value="Kredit" formControlName="type">
                                <span>Kredit</span>
                            </label>
                        </form>
                    </div>                  
                    <span *ngIf="payment.controls.type.value == 'Kredit'">Učešće: {{price}}€</span>
                    <div *ngIf="!estate.sale">
                        <mat-form-field appearance="legacy">
            
                            <mat-label>Izaberite period izdavanja</mat-label>
                        
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
                            <input matStartDate formControlName="start" placeholder="Start Date">
                            <input matEndDate formControlName="end" placeholder="End Date">
                            </mat-date-range-input>
                        
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        
                        </mat-form-field>
                        
                        <p>
                        Start: {{dateRange.value.start | date}}
                        End: {{dateRange.value.end | date}}
                        </p>
                    </div>
                </div>
                <div *ngIf="loggedUsername == estate.owner">
                    <button routerLink="settings" class="standardButton">
                        Promeni podatke
                    </button>
                </div>
            </div>                    
        </div>        
    </div>
    <div class="row">                
        <div class="col-6">          
            <button class="standardButton" (click)="openNewMessageModal()">
                Pоšalji poruku
            </button>
        </div>
    </div>
</div> 

<div class="blurDiv" (click)="modalClosed()" *ngIf="newMessageModalOpened">
    <div class="newMessageModal" onclick="event.stopPropagation();">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header title">New message</h4>
                <div class="card-body">
                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" name="messageForm" method="post" >                  
                        <div class="form-group">
                            <label for="receiver">Primalac</label>
                            <input type="text" formControlName="receiver" [attr.disabled]="true" name="primalac" class="form-control" />                            
                        </div>
                        <div class="form-group">
                            <label>Naslov</label>
                            <input type="text" formControlName="title" [attr.disabled]="true" name="title" class="form-control" />                            
                        </div>
                        <div class="form-group">
                            <label>Poruka</label>                                                                                                                                           
                            <textarea formControlName="message" placeholder="New message..." class="takeAll" rows="6" ></textarea>                          
                            <span class="errorMessage" *ngIf="submitted && f.message.errors">Morate uneti bar deset karaktera</span>
                        </div>                        
                        <div class="form-group">                            
                            <button class="standardButton">        
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>                        
                                Pošalji
                            </button>                            
                        </div>
                    </form>
                    <div *ngIf="error" class="errorMessage">Nevalidni primalac!!!</div>
                </div>
            </div>
        </div>
    </div>
</div>