<toolbar></toolbar>

<div class="container-fluid maxHeight">
    <div class="row">
        <div class="col-4 ignoreSides">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">Poštansko sanduče</span> 
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix"
                    (click)="openNewMessageModal()">
                    <mat-icon>add</mat-icon>
                </button>                                    
                </div>
                <div>
                    <mat-tab-group >
                        <mat-tab label="Aktivne"> 
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <div *ngFor="let conversation of conversations; let i = index" (click)="changeConversation(conversation.idConv, i, false)"
                                    [ngClass]="{ 'list-group-item' : true, 'list-group-item-action' : true,  'py-3' : true, 'lh-tight' : true, 
                                        'active' : conversation.idConv == selectedConv}" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">{{conversation.title}}</strong>                    
                                    </div>
                                    <div class="col-12 mb-1 small">{{conversation.lastMessageDate}}</div>
                                </div>                                
                            </div>    
                        </mat-tab>
                        <mat-tab label="Arhiva">
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <div *ngFor="let conversation of conversationsArchived; let i = index" (click)="changeConversation(conversation.idConv, i, true)"
                                    [ngClass]="{ 'list-group-item' : true, 'list-group-item-action' : true,  'py-3' : true, 'lh-tight' : true, 
                                        'active' : conversation.idConv == selectedConv}" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">{{conversation.title}}</strong>                    
                                    </div>
                                    <div class="col-12 mb-1 small">{{conversation.lastMessageDate}}</div>
                                </div>                                
                            </div>
                        </mat-tab>                    
                    </mat-tab-group>
                </div>            
            </div>
        </div>


        <div class="col-8 ignoreSides">                  
            <div>
                <button title="Arhiviraj" (click)="archiveMessage()" *ngIf="!archived" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>source</mat-icon>
                </button>
                <button title="Vrati u aktivne" (click)="archiveMessage()" *ngIf="archived && !blocked" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>source</mat-icon>
                </button>
                <button title="Blokiraj" *ngIf="!blocked" (click)="blockUser()" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>block</mat-icon>
                </button>
                <button title="Odblokiraj" *ngIf="blocked" (click)="unblockUser()" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>block</mat-icon>
                </button>
                <button title="Potvrdi ponudu" *ngIf="isOwner && offer" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
                <button title="Odbij ponudu" (click)="removeOffer()" *ngIf="isOwner && offer" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>highlight_off</mat-icon>
                </button>                
                <button title="Daj ponudu" (click)="setOffer()" *ngIf="!isOwner && !offer && !archived" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="marginSix">
                    <mat-icon>euro_symbol</mat-icon>
                </button>                
                <span *ngIf="isOwner && !archived && offer">Trenutna ponuda: {{offerPrice}}</span>
                <span *ngIf="!isOwner && !archived && !offer">
                    Unesi ponudu: 
                    <input type="number" [(ngModel)]="offerPrice">
                </span>
            </div>      
            <nb-layout>                
                <nb-layout-column class="ignoreSides maxHeight" >    
                    <nb-chat [title]="selectedTitle" size="large" status="info" class="maxHeight">                       
                        <nb-chat-message *ngFor="let message of messages"        
                            [message]="message.text"                                                                
                            [reply]="message.sender == username || (message.sender != receiver && receiver != 'agency')"
                            [sender]="isOwner || message.sender == username ? message.sender : 'Vlasnik'"
                            [date]="message.date">
                        </nb-chat-message>             <!--[avatar]="message.user.avatar"-->            
                        <nb-chat-form *ngIf="!archived" (send)="sendMessage($event, 'Jake', 'http://www.reactiongifs.com/r/wnd1.gif', true)" 
                            [showButton]="true" [dropFiles]="true"></nb-chat-form>                        
                    </nb-chat>                
                </nb-layout-column>                
            </nb-layout>                        
        </div>
    </div>
</div>

<div class="blurDiv" (click)="modalClosed()" *ngIf="newMessageModalOpened">
    <div class="newMessageModal" onclick="event.stopPropagation();">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header title">New message</h4>
                <div class="card-body">
                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" name="messageForm" method="post" >                  
                        <div class="form-group">
                            <label for="receiver">Primalac</label>
                            <input type="text" formControlName="receiver" name="primalac" class="form-control" />                            
                            <div *ngIf="submitted && f.receiver.errors" class="errorMessage">
                                Korisnik ne postoji
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Naslov</label>
                            <input type="text" formControlName="title" name="title" class="form-control" />                            
                        </div>
                        <div class="form-group">
                            <label>Poruka</label>                                                                                                                                           
                            <textarea formControlName="message" placeholder="New message..." class="takeAll" rows="6" ></textarea>                          
                            <span class="errorMessage" *ngIf="submitted && f.message.errors">Morate uneti bar deset karaktera</span>
                        </div>                        
                        <div class="form-group">                            
                            <button class="standardButton">    
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>                            
                                Pošalji
                            </button>                            
                        </div>
                    </form>
                    <div *ngIf="error" class="errorMessage">Nevalidni primalac!!!</div>
                </div>
            </div>
        </div>
    </div>
</div>