.marginSix{
    margin: 8px;
}

.newMessageModal{
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;
}

.blurDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.title{
    background-color: var(--ming);
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.errorMessage{
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.takeAll{
    width: 100%;
}