<toolbar></toolbar>

<div class="marginSix">
    <div class="col-12">
        <h2 class="title">Promena parametara</h2>        
    </div>
    <div class="col-12 fields noRPadding">
        <div class="card">                                                        
            <div class="card-body">
                <form [formGroup]="estateForm" (ngSubmit)="onSubmit()" name="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Naziv</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Naziv je obavezan</div>
                            <div *ngIf="f.name.errors.maxlength">Maksimalno 28 karaktera</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Država</label>
                        <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Država je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">Grad</label>
                        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">Grad je obavezan</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region">Opština</label>
                        <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
                        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                            <div *ngIf="f.region.errors.required">Opština je obavezna</div>                                
                        </div>
                    </div>                                    
                    <div class="form-group">
                        <label for="adress">Adresa</label>
                        <input type="text" formControlName="adress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adress.errors }" />
                        <div *ngIf="submitted && f.adress.errors" class="invalid-feedback">
                            <div *ngIf="f.adress.errors.required">Adresa je obavezna</div>
                        </div>
                    </div>                                                           
                    <div class="form-group">                            
                            <label for="number">Kućni broj </label>                                                       
                            <input type="text" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }"/>
                            <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                <div *ngIf="f.number.errors.required">Kućni broj je obavezam</div>                                    
                            </div>          
                    </div>                                                                                                  
                    <div class="form-group">
                        <label for="stores">Broj spratova</label>
                        <input type="text" formControlName="stores" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stores.errors }" />
                        <div *ngIf="submitted && f.stores.errors" class="invalid-feedback">
                            <div *ngIf="f.stores.errors.required">Broj spratova je neophodan</div>
                        </div>
                    </div>                                                          
                    <div class="form-group">
                        <label for="size">Veličina (m<sup>2</sup>)</label>
                        <input type="number" formControlName="size" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.size.errors }" />
                        <div *ngIf="submitted && f.size.errors" class="invalid-feedback">
                            <div *ngIf="f.size.errors.required">Veličina je obavezna</div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label for="rooms">Broj soba</label>
                        <input type="number" formControlName="rooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rooms.errors }" />
                        <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
                            <div *ngIf="f.rooms.errors.required">Broj soba je obavezan</div>
                        </div>
                    </div>                                                               
                    <div class="form-group">
                        <label for="price">Cena</label>
                        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Cena je obavezna</div>
                        </div>
                    </div>    
                    <div class="form-group">
                        <label for="img">Dodaj nove slike</label>
                        <br/>
                        <input type="file" (change)="handleFileInput($event.target.files)" accept="image/*" multiple/>                            
                        
                    </div>   
                    <div class="form-group">                            
                        <mat-slide-toggle formControlName="type" class="someMargins">Stan - Kuća</mat-slide-toggle>                        
                    </div>      
                    <div class="form-group">
                        <mat-slide-toggle formControlName="furniture" class="someMargins">Neopremljen - Opremljen</mat-slide-toggle>                        
                    </div>
                    <div class="form-group">                        
                        <mat-slide-toggle formControlName="sale" class="someMargins">Izdavanje - Prodaja</mat-slide-toggle>
                    </div>                                                                                              
                    <div class="form-group">
                        <button [disabled]="loading" class="standardButton">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Izmeni podatke
                        </button>                            
                    </div>                        
                </form>                
                <div class="centerItems">   
                    <h2>Trenutne slike</h2>                                             
                    <div class="gallery" >        
                        <ngb-carousel (slide)="onSlide($event)">                          
                            <ng-container *ngFor="let img of images; index as j;">
                                <ng-template ngbSlide >
                                <div class="picsum-img-wrapper">
                                    <img [src]="img" class="standardImage" [id]="j" alt="Random slide">
                                </div>          
                                </ng-template>  
                            </ng-container>                          
                        </ngb-carousel>
                    </div>                        
                    <button class="btn btn-danger" (click)="removeImage()" >
                        Ukloni trenutno prikazanu sliku
                    </button>
                </div> 
            </div>            
        </div>
    </div>
</div>