<div class="toolbar">  
  <div class="homePart">
    <svg viewBox="0 0 256 256"  xmlns="http://www.w3.org/2000/svg" (click)="home()">
      <g><g><path d="m148.345 32.96h37.155v72.049h-37.155z" fill="#e0ebfc"/></g>
      <g><path d="m183.562 20.036h-33.278c-1.071 0-1.939.868-1.939 1.939v10.985h37.155v-10.985c.001-1.071-.867-1.939-1.938-1.939z" fill="#a4c9ff"/></g>
      <g><path d="m185.501 107.009h-37.156c-1.104 0-2-.896-2-2v-72.049c0-1.104.896-2 2-2h37.156c1.104 0 2 .896 2 2v72.049c0 1.104-.896 2-2 2zm-35.156-4h33.156v-68.049h-33.156z" fill="#3762cc"/></g>
      <g><path d="m185.501 34.96h-37.156c-1.104 0-2-.896-2-2v-10.985c0-2.172 1.768-3.938 3.939-3.938h33.278c2.172 0 3.938 1.767 3.938 3.938v10.985c.001 1.104-.895 2-1.999 2zm-35.167-4h33.167v-8.924h-33.217zm33.228-8.924h.01z" fill="#3762cc"/></g><g><path d="m30.417 93.378v101.773c0 5.888 4.774 10.662 10.662 10.662h133.759c5.888 0 10.662-4.774 10.662-10.662v-101.773z" fill="#a4c9ff"/></g><g><path d="m174.839 207.813h-133.76c-6.982 0-12.662-5.681-12.662-12.662v-101.773c0-1.104.895-2 2-2h155.084c1.104 0 2 .896 2 2v101.773c0 6.982-5.681 12.662-12.662 12.662zm-142.422-112.435v99.773c0 4.776 3.886 8.662 8.662 8.662h133.76c4.776 0 8.662-3.886 8.662-8.662v-99.773z" fill="#3762cc"/></g>
      <g><path d="m204.033 105.009h-192.148c-3.58 0-5.247-4.438-2.552-6.796l96.074-84.022c1.462-1.278 3.643-1.278 5.105 0l96.074 84.022c2.694 2.357 1.027 6.796-2.553 6.796z" fill="#f9a7a7"/></g>
      <g><path d="m204.033 107.009h-192.148c-2.473 0-4.632-1.496-5.502-3.811-.869-2.314-.229-4.862 1.633-6.491l96.075-84.021c2.205-1.929 5.532-1.928 7.738 0l96.073 84.021c1.861 1.629 2.503 4.177 1.633 6.491-.87 2.315-3.029 3.811-5.502 3.811zm-96.074-91.775c-.442 0-.883.154-1.235.463l-96.075 84.022c-.908.794-.628 1.787-.521 2.073.107.285.551 1.217 1.757 1.217h192.148c1.206 0 1.649-.932 1.757-1.217s.387-1.279-.521-2.073l-96.074-84.021c-.353-.309-.795-.464-1.236-.464z" fill="#3762cc"/></g>
      <g><path d="m160.784 205.813h-47.494v-75.17c0-2.141 1.736-3.877 3.877-3.877h39.74c2.141 0 3.877 1.736 3.877 3.877z" fill="#f9cfcf"/></g>
      <g><path d="m160.784 207.813h-47.494c-1.104 0-2-.896-2-2v-75.17c0-3.24 2.636-5.877 5.877-5.877h39.74c3.24 0 5.877 2.637 5.877 5.877v75.17c0 1.105-.895 2-2 2zm-45.494-4h43.494v-73.17c0-1.035-.842-1.877-1.877-1.877h-39.74c-1.035 0-1.877.842-1.877 1.877z" fill="#3762cc"/></g>
      <g><path d="m90.167 175.281h-35.173c-2.843 0-5.147-2.304-5.147-5.147v-38.22c0-2.843 2.304-5.147 5.147-5.147h35.173c2.843 0 5.147 2.304 5.147 5.147v38.22c0 2.843-2.305 5.147-5.147 5.147z" fill="#4671c6"/></g>
      <g><path d="m173.789 121.749 2.438 16.008h33.351l2.438-16.008c.277-1.816-1.129-3.452-2.966-3.452h-32.294c-1.838.001-3.244 1.637-2.967 3.452z" fill="#6bdddd"/></g>
      <g><path d="m199.704 242.768h-13.605c-26.673 0-48.296-21.623-48.296-48.296 0-26.673 21.623-48.296 48.296-48.296h13.605c26.673 0 48.296 21.623 48.296 48.296 0 26.673-21.623 48.296-48.296 48.296z" fill="#6bdddd"/></g>
      <g><path d="m195.053 167.004v3.435c2.268.233 4.214.7 5.835 1.399 1.623.699 3.038 1.76 4.245 3.18.955 1.081 1.691 2.194 2.21 3.339s.78 2.194.78 3.148c0 1.06-.388 1.977-1.161 2.751-.774.774-1.712 1.161-2.814 1.161-2.078 0-3.424-1.124-4.039-3.371-.7-2.649-2.385-4.409-5.056-5.279v13.23c2.628.721 4.723 1.378 6.281 1.971 1.558.594 2.952 1.453 4.182 2.576 1.314 1.166 2.327 2.56 3.037 4.181.71 1.622 1.066 3.398 1.066 5.327 0 2.416-.568 4.68-1.702 6.789s-2.803 3.832-5.009 5.167c-2.205 1.336-4.823 2.131-7.855 2.385v7.918c0 1.251-.122 2.163-.365 2.735-.245.573-.78.859-1.607.859-.763 0-1.298-.234-1.606-.7-.307-.467-.462-1.188-.462-2.162v-8.587c-2.48-.276-4.648-.858-6.503-1.749-1.855-.89-3.403-1.998-4.642-3.323-1.241-1.325-2.158-2.703-2.751-4.134-.594-1.431-.89-2.835-.89-4.214 0-1.018.397-1.934 1.192-2.75s1.786-1.225 2.973-1.225c.955 0 1.76.223 2.418.668.657.445 1.112 1.071 1.368 1.876.573 1.739 1.07 3.069 1.495 3.991.424.922 1.065 1.765 1.924 2.528.858.763 1.998 1.347 3.418 1.749v-14.788c-2.84-.784-5.215-1.659-7.123-2.624-1.907-.964-3.455-2.337-4.642-4.118-1.188-1.781-1.781-4.071-1.781-6.869 0-3.646 1.161-6.635 3.482-8.968 2.321-2.332 5.676-3.689 10.065-4.07v-3.371c0-1.781.668-2.672 2.004-2.672 1.355.003 2.033.873 2.033 2.611zm-4.039 21.815v-12.179c-1.78.53-3.169 1.23-4.165 2.099-.998.87-1.496 2.184-1.496 3.943 0 1.675.466 2.941 1.399 3.8.934.858 2.355 1.638 4.262 2.337zm4.039 9.445v13.929c2.141-.424 3.795-1.282 4.961-2.576 1.166-1.293 1.75-2.799 1.75-4.515 0-1.845-.568-3.27-1.702-4.278-1.134-1.007-2.805-1.86-5.009-2.56z" fill="#ffea92"/></g>
      <g><path d="m199.704 244.768h-13.604c-27.733 0-50.297-22.563-50.297-50.296s22.563-50.296 50.297-50.296h13.604c27.733 0 50.296 22.563 50.296 50.296s-22.563 50.296-50.296 50.296zm-13.604-96.592c-25.528 0-46.297 20.769-46.297 46.296s20.769 46.296 46.297 46.296h13.604c25.527 0 46.296-20.769 46.296-46.296s-20.769-46.296-46.296-46.296z" fill="#3762cc"/></g>
      <g><path d="m212.618 151.024h-39.39c-1.657 0-3-1.343-3-3v-7.266c0-1.657 1.343-3 3-3h39.39c1.657 0 3 1.343 3 3v7.266c0 1.657-1.343 3-3 3z" fill="#ffea92"/></g>
      <g><path d="m212.618 153.023h-39.391c-2.757 0-5-2.243-5-5v-7.266c0-2.757 2.243-5 5-5h39.391c2.757 0 5 2.243 5 5v7.266c0 2.757-2.243 5-5 5zm-39.39-13.265c-.552 0-1 .448-1 1v7.266c0 .552.448 1 1 1h39.391c.552 0 1-.448 1-1v-7.266c0-.552-.448-1-1-1z" fill="#3762cc"/></g>
      <g><path d="m209.577 139.758h-33.351c-.988 0-1.828-.722-1.978-1.699l-2.438-16.008c-.22-1.441.199-2.903 1.149-4.011.951-1.107 2.334-1.742 3.794-1.742h32.294c1.459 0 2.842.635 3.792 1.741.951 1.106 1.371 2.568 1.151 4.011l-2.438 16.009c-.147.977-.987 1.699-1.975 1.699zm-31.632-4h29.913l2.179-14.31c.061-.395-.118-.672-.229-.802-.112-.131-.359-.349-.759-.349h-32.294c-.4 0-.647.219-.759.349s-.29.406-.229.801v.001z" fill="#3762cc"/></g>
      <g><path d="m90.167 177.281h-35.173c-3.941 0-7.147-3.206-7.147-7.147v-38.22c0-3.941 3.206-7.147 7.147-7.147h35.172c3.941 0 7.147 3.206 7.147 7.147v38.22c.001 3.941-3.206 7.147-7.146 7.147zm-35.173-48.514c-1.735 0-3.147 1.412-3.147 3.147v38.22c0 1.735 1.412 3.147 3.147 3.147h35.172c1.735 0 3.147-1.412 3.147-3.147v-38.22c0-1.735-1.412-3.147-3.147-3.147z" fill="#3762cc"/></g></g>
    </svg>    
    <a routerLink="/" class="welcomeText"><span>Dobrodošli</span></a>
  </div>  
  <div class="menuPart">   
    <button mat-button *ngIf="user && user.type != 'user'" [routerLink]="['/' + user.type]">Stanje sistema</button>
    <button mat-button *ngIf="user && user.type == 'admin'" [matMenuTriggerFor]="users">Korisnici</button>
    <button mat-button *ngIf="user" [matMenuTriggerFor]="estates">Nekretnine</button>
      
    <mat-menu #users="matMenu">
      <button mat-menu-item [routerLink]="['/admin/users']" [queryParams]="{usersType : 0}" >Svi</button>
      <button mat-menu-item [routerLink]="['/admin/users']" [queryParams]="{usersType : 1}">Prihvaćeni</button>
      <button mat-menu-item [routerLink]="['/admin/users']" [queryParams]="{usersType : 2}">Na ćekanju</button>
    </mat-menu>

    <mat-menu #estates="matMenu">
      <button *ngIf="user && user.type == 'user'" mat-menu-item (click)="myEstates()"  [queryParams]="{estateType : 4}" >Moje nekretnine</button>
      <button *ngIf="user && user.type == 'worker'" mat-menu-item [routerLink]="['/worker/estates']" [queryParams]="{estateType : 4}" >Nekretnine agencije</button>
      <button *ngIf="user && user.type != 'user'" mat-menu-item [routerLink]="['/' + user.type + '/estates']" [queryParams]="{estateType : 0}" >Sve</button>
      <button *ngIf="user && user.type != 'user'" mat-menu-item [routerLink]="['/' + user.type + '/estates']" [queryParams]="{estateType : 1}">Prihvaćene</button>
      <button *ngIf="user && user.type != 'user'" mat-menu-item [routerLink]="['/' + user.type + '/estates']" [queryParams]="{estateType : 2}">Na ćekanju</button>
      <button *ngIf="user && user.type != 'user'" mat-menu-item [routerLink]="['/' + user.type + '/estates']" [queryParams]="{estateType : 3}">Promovisane</button>
    </mat-menu>
<!--
        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>
      -->
  </div>  
  <div class="loginPart">      
    <a *ngIf="!loggedIn" routerLink="" (click)="loginModalVisible()" class="loginLink">Prijava</a>
    <div *ngIf="loggedIn" class="userData">
      <span class="circle-image toolbarImage">
        <a routerLink="" (click)="settings()">
          <img class="profilePic" src="{{ user.img != '' ? user.img : 'assets/defaultUserImg.png'}}" />
        </a>
      </span>                                        
      <span class="toolbarText">
        {{user.firstName}}
      </span>          
      <span class="toolbarText">
        {{user. lastName}}
      </span>                
      <a routerLink="/logout" *ngIf="loggedIn" class="logoutLink">Odjavi se</a>
    </div>          
  </div>   
</div>

<loginWindow *ngIf="!loggedIn && showLoginModal" (closed)="closeWindow($event)" (loggedIn)="logged($event)"></loginWindow>
<registerWindow *ngIf="!loggedIn && showRegisterModal" (regClosed)="closeWindow($event)" (registered)="registerComplete($event)"></registerWindow>