.toolbar {    
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: space-around;
    justify-content: space-around;
    background-color: var(--ming);
    color: white;
    font-weight: 600;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.homePart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;    
    margin: 16px;    
}

.homePart > svg
{
    max-width: 80px;
    min-width: 40px;
    margin: 8px; 
}

.welcomeText
{    
    color: white; 
    text-decoration: none;
    font-weight: 500;   
    font-size: 2em; 
}

.menuPart
{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 16px;
}

.menuPart > button
{    
    border: none;
    background: none;
    font-weight: 400;
    color: white;
}

.loginPart
{    
    margin: 16px;
    display: flex;
    justify-content: flex-end;
}

.userData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.toolbarText{    
    font-size: 13px;
    font-weight: 500;
}

.toolbarImage{
    max-width: 50px;
    max-height: 50px;
    margin: 6px;
}

.logoutLink{
    font-size: 10px;
    font-weight: 300;
    color: white;
    width: fit-content;
}

.loginLink{
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: fit-content;
}