<div class="col-12">
    <div  [ngClass]="{ 'card' : true, 'fixedWidth' : true, 'fixedHeight' : true, 'marginTopTen' : true,
         'waitingBorder' : !estate.approved }">        
        <img class="card-img-top estateImg" [src]="image" alt="Estate image">
        <div class="card-body reducedPadding centerItems">
            <h5 class="card-title estateTitle">{{estate.name}}</h5>
            <p class="card-text estateDesc">
                Opština:&nbsp;{{region}}<br/>
                Grad:&nbsp;{{estate.city}}<br/>
                Cena:&nbsp;{{estate.price}}€<br/>
                Tip:&nbsp;{{estate.type + " (" + estate.size + ")m"}}<sup>2</sup>{{" - Broj soba: " + estate.rooms }}<br/>
                {{estate.sale ? "Prodaje se" : "Izdaje se"}}                
            </p>            
            <div>                                            
                <button class="standardButton cardButton" *ngIf="logged" (click)="estateDetails(estate._id)">
                    Detaljnije
                </button>
                <button class="okButton cardButton" *ngIf="(worker || admin) && !estate.approved" (click)="approveEstate(estate._id)" >
                    Odobri
                </button>
                <button class="declineButton cardButton" *ngIf="admin" (click)="removeEstate(estate._id)" >
                    Ukloni
                </button>
                <button class="declineButton cardButton" *ngIf="worker && !estate.promoted" (click)="promoteEstate(estate._id, true)" >
                    Promoviši
                </button>
                <button class="declineButton cardButton" *ngIf="worker && estate.promoted" (click)="promoteEstate(estate._id, false)" >
                    Ukloni promociju
                </button>
            </div>
        </div>        
    </div>
</div>
    