.cardButton{
    margin-left: 4px;
    margin-right: 6px;
}

.estateTitle{
    font-size: 14px;
    font-weight: 700;
    height: 20px;    
}

.estateDesc{
    font-size: 12px;
    font-weight: 500;
}

.reducedPadding{
    padding: 4px;
}

.estateImg{
    object-fit: cover;
    height: 200px;    
    overflow: hidden;
}

.fixedHeight{
    height: 400px;
}

.fixedWidth{
    width: 220px;
}

.marginTopTen{
    margin-top: 10px;
}

.waitingBorder{
    border-color: var(--gainsboro);
    border-width: 3px;
}

p {
    height: 100px;
    overflow-y: auto;
    margin-bottom: 6px;
}