<div class="blurDiv" (click)="loginClosed()">
    <div class="loginModal" onclick="event.stopPropagation();">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header title">Login</h4>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>                                                                
                            </div>                                                                                    
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>                        
                        <div class="form-group">                            
                            <button [disabled]="loading" class="standardButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>
                            <a routerLink="" (click)="loginClosedRegisterOpened()" class="btn btn-link">Register</a>
                        </div>
                    </form>
                    <div *ngIf="error" class="errorMessage">Nevalidni podaci!!!</div>
                </div>
            </div>
        </div>
    </div>
</div>