<toolbar></toolbar>

<div class="container-fluid charts">       
    <div class="col-3">
        <chart-statistic [state]="0"></chart-statistic>
    </div>
    <div class="col-5">
        <chart-statistic [state]="2"></chart-statistic>
    </div>
    <div class="col-4">
        <chart-statistic [state]="1"></chart-statistic>
    </div>    
</div>
