<toolbar></toolbar>

<div class="row m12">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let estate of estates;">  
        <estate-card  [estate]="estate"></estate-card>  
    </div>
    <button mat-fab color="primary" routerLink='/newEstate' aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
    </button>
</div>

