<toolbar></toolbar>

<div class="container">
    <div class="row">
        <button class="standardButton" (click)="openRegister()">
            Dodaj novog
        </button>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let user of users;">  
            <user-card  [user]="user"></user-card>  
        </div>
    </div>
</div>

<registerWindow *ngIf="showRegisterModal" (regClosed)="registerCanceled($event)" (registered)="registerComplete($event)"></registerWindow>