/* You can add global styles to this file, and also import other style files */
:root{
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #ffffffff;
    --gainsboro: rgb(189, 105, 105);
    --indigo-dye: #284b63ff;
}

h1,h2,h3,
h4,h5,h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.standardButton {
	padding: 0.2em 0.9em;
	border-radius: 5px;
	color: white;
	font-size: 0.7em;
	outline: none;
	transition: 0.2s box-shadow ease-in-out;
    background-color: var(--indigo-dye);
    margin: 8px;
    font-weight: 400;
}

.okButton {
	padding: 0.2em 0.9em;
	border-radius: 5px;
	color: white;
	font-size: 0.7em;
	outline: none;
	transition: 0.2s box-shadow ease-in-out;
    background-color: var(--jet);
    margin: 8px;
    font-weight: 400;
}

.declineButton {
	padding: 0.2em 0.9em;
	border-radius: 5px;
	color: white;
	font-size: 0.7em;
	outline: none;
	transition: 0.2s box-shadow ease-in-out;
    background-color: var(--gainsboro);
    margin: 8px;
    font-weight: 400;
}

.circle-image{
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }

.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.centerItems{
    display: flex;
    flex-direction: column;    
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

body, html{
    margin:0;
    padding:0;
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
}

.gallery{
    display: flex;    
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: var(--indigo-dye);
    height: 300px;
    width: 650px;    
}

.standardImage{
    object-fit: cover;
    overflow: hidden;
    width: 600px;
    height: 300px;
}

.ignoreSides{
    margin: 0 !important;
    padding: 0 !important;
}

.maxHeight {
    height: 100% !important;
}