<toolbar></toolbar>

  <div class="container-fluid centerItems">
    <div class="row">
      <div class="col-12">
        Promovisano
        <div class="gallery">        
          <ngb-carousel>
            <ng-container *ngFor="let estate of promotedEstates; index as i;">
              <ng-container *ngFor="let img of estate.video.img; index as j;">
                <ng-template ngbSlide >
                  <div class="picsum-img-wrapper">
                    <img [src]="img" class="standardImage" alt="Random slide" (click)="estateDetails(estate._id)">
                  </div>          
                </ng-template>  
              </ng-container>
            </ng-container>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
    
  <form (ngSubmit)="onSubmit()">
    <div class="container"> 
      Nekretnine
      <div class="row">  
          <div class="col-4">
                <label for="city">Grad:</label>
          </div>
          <div class="col-3">
                <label for="lowerPrice">Cena od:</label>
          </div>
          <div class="col-3">
              <label for="password">Cena do:</label>
          </div>
          <div class="col-2">          
              <span class="emptyText">Empty text!</span>                    
          </div>                  
      </div>
      <div class="row"> 
        <div class="col-4">        
          <input type="text" name="city" class="form-control" [(ngModel)]="city" />                                     
        </div>
        <div class="col-3">            
              <input type="number" name="lPrice" class="form-control" [(ngModel)]="lowerPrice"/>      
        </div>
        <div class="col-3">          
            <input type="number" name="hPrice" class="form-control" [(ngModel)]="higherPrice"/>              
        </div>
        <div class="col-2">                    
            <button [disabled]="emptyFields" class="standardButton">
                Search
            </button>          
        </div>
      </div>
    </div>
  </form>

<div class="container">    
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let estate of estates;">  
            <estate-card  [estate]="estate"></estate-card>  
        </div>
    </div>
</div>


<!---
<div class="content" role="main">

  <div class="terminal" >      
  </div>

  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1280.000000pt" height="860.000000pt" viewBox="0 0 1280.000000 860.000000" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,860.000000) scale(0.100000,-0.100000)" fill="#B8B8B8" stroke="none">
      <path d="M3030 8305 l0 -294 -62 -3 -63 -3 -5 -49 c-3 -29 -11 -52 -20 -57 -8
      -5 -215 -56 -460 -114 -245 -58 -455 -110 -467 -115 l-23 -10 -2 -3407 c-3
      -3400 -3 -3408 -23 -3408 -20 0 -20 8 -23 1117 l-2 1117 -43 11 c-95 25 -92
      22 -95 76 -4 83 -8 91 -70 125 -31 18 -91 65 -132 104 -41 40 -103 95 -138
      123 l-63 52 -368 0 -368 0 -184 -126 c-230 -158 -229 -157 -229 -210 0 -23 -6
      -46 -12 -52 -7 -6 -50 -13 -95 -17 l-83 -8 0 -1557 c0 -1549 0 -1558 20 -1563
      11 -3 20 -12 20 -21 0 -15 549 -16 6381 -16 6073 0 6381 1 6374 18 -3 9 -13
      71 -22 137 -8 66 -19 124 -24 130 -5 5 -9 77 -9 160 0 82 -4 155 -8 161 -4 6
      -53 35 -110 63 -57 28 -105 58 -109 66 -4 13 -74 15 -503 15 -442 0 -500 2
      -514 16 -15 14 -16 119 -16 1066 0 578 -1 1053 -4 1055 -3 3 -180 60 -393 126
      -368 115 -392 121 -463 118 -41 -1 -365 -28 -720 -59 l-645 -57 -5 -1365 -5
      -1365 -32 -3 -33 -3 0 748 0 748 -108 105 c-60 58 -114 116 -121 128 -11 21
      -17 22 -166 22 l-155 0 0 509 c0 395 -3 511 -12 519 -7 6 -42 18 -78 27 -36 9
      -71 21 -77 27 -7 6 -13 32 -13 58 l0 48 -67 38 c-40 22 -108 76 -164 129 -164
      156 -134 144 -360 147 l-194 3 -3 2060 c-1 1132 -6 2063 -10 2067 -15 15
      -1206 287 -1217 278 -6 -5 -235 -68 -508 -139 -274 -72 -502 -133 -507 -136
      -7 -4 -10 -621 -10 -1724 0 -945 -3 -1720 -6 -1723 -6 -6 -96 18 -134 36 -20
      9 -51 73 -165 336 -130 303 -140 323 -150 295 -5 -16 -60 -167 -121 -335
      l-111 -305 -106 -35 c-58 -19 -109 -39 -114 -43 -4 -5 -10 -133 -13 -284 l-5
      -276 -54 -18 c-29 -9 -57 -23 -62 -31 -5 -7 -9 -239 -9 -515 0 -297 -4 -504
      -9 -508 -15 -9 -120 35 -131 55 -7 12 -10 888 -10 2549 l0 2529 -92 21 c-51
      12 -282 65 -513 119 l-420 97 -5 50 -5 50 -52 3 -53 3 0 295 c0 287 0 294 -20
      294 -20 0 -20 -7 -20 -295z"/>
    </g>
</svg>

</div>
-->