<div class="col-12">
    <div  [ngClass]="{ 'card' : true, 'marginTopTen' : true, 'fixedWidth' : true,
         'waitingBorder' : user.status == 'waiting' }">        
        <img class="card-img-top userImg marginTopTen" src="{{ user.img != '' ? user.img : 'assets/defaultUserImg.png'}}" alt="Profile picture">
        <div class="card-body reducedPadding centerItems">
            <h2 class="card-title">{{user.firstName + " " + user.lastName}}</h2>
            <p class="card-text estateDesc">                                
                Korisničko ime:&nbsp;{{user.username}}<br/>
                Mail:&nbsp;{{user.mail}}<br/>
                Država:&nbsp;{{user.country}}<br/>
                Grad:&nbsp;{{user.city}}<br/>             
                Tip:&nbsp;{{user.type == 'worker' ? 'Agent' : 'Korisnik'}}
            </p>
            <div>                            
                <button class="standardButton cardButton" [routerLink]="['/settings']" [queryParams]="{username: user.username}" >
                    Ažuriraj
                </button>
                <button class="okButton cardButton" *ngIf="user.status == 'waiting'" 
                    (click)="approveUser(user.username)">
                    Odobri
                </button>
                <button class="declineButton cardButton" (click)="removeUser(user.username)">
                    Ukloni
                </button>
            </div>
        </div>        
    </div>
</div>
    