.cardButton{
    margin-left: 4px;
    margin-right: 6px;
}

.estateTitle{
    font-size: 16px;
    font-weight: 700;
}

.estateDesc{
    font-size: 12px;
    font-weight: 500;
}

.reducedPadding{
    padding: 12px;
}

.userImg{
    object-fit: scale-down;
    height: 100px;
    overflow: hidden;
}

.marginTopTen{
    margin-top: 10px;
}

.waitingBorder{
    border-color: var(--gainsboro);
    border-width: 3px;
}

.fixedWidth{
    width: 230px;
}