<div class="blurDiv" (click)="registerClosed()">
    <div class="registerModal" onclick="event.stopPropagation();">
        <div class="col-12 noRPadding">
            <h4 class="card-header title">Registracija</h4>                
        </div>
        <div class="col-12 fields noRPadding">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" name="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="firstName">Ime</label>
                            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">Ime je obavezno</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Prezime</label>
                            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Prezime je obavezno</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Email</label>
                            <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                            <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                                <div *ngIf="f.mail.errors.required">Email je obavezan</div>
                                <div *ngIf="f.mail.errors.email">Nevalidan format</div>
                                <div *ngIf="f.mail.errors.unique">Email je već zauzet</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Korisničko ime</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Korisničko ime je obavezno</div>
                                <div *ngIf="f.username.errors.unique">Korisničko ime je zauzeto</div>                                
                            </div>
                        </div>                       
                        <div class="form-group">                            
                                <label for="password">Lozinka</label>                                                       
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Lozinka je obavezna</div>
                                    <div *ngIf="f.password.errors.minlength">Lozinka mora imati minimum 8 karaktera</div>
                                    <div *ngIf="f.password.errors.pattern">Lozinka mora da sadrži minimum jedno malo, jedno veliko slovo, jedan broj i jedan specijalni karakter</div>
                                    <div *ngIf="f.password.errors.consequentCharacters">Zabranjena je upotreba više od dva karaktera zaredom</div>
                                </div>          
                        </div>                    
                        <div class="form-group">                                                                                        
                                <label for="repeatPassword">Ponovite lozinku</label>
                                <input type="password" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && ( f.repeatPassword.errors || fe ) }" />
                                <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.repeatPassword.errors.required">Morate ponoviti lozinku</div>                                        
                                </div>                                                    
                                <div *ngIf="submitted && fe" class="invalid-feedback">
                                    <div *ngIf="fe.mismatchedPasswords">Passwords must match</div>
                                </div>                                                                                    
                        </div>                         
                        <div class="form-group">
                            <label for="country">Država</label>
                            <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Država je neophodna</div>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label for="city">Grad</label>
                            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">Grad je neophodan</div>
                            </div>
                        </div>                                                                                          
                        <div class="form-group">
                            <label for="img">Profilna slika</label>
                            <br/>
                            <input type="file" (change)="handleFileInput($event.target.files)" accept="image/*" />                            
                        </div>
                        <div class="form-group centerItems">                            
                            <span class="circle-image">
                                <img class="profilePic" src="{{f.img.value != '' ? f.img.value : 'assets/defaultUserImg.png'}}" />
                            </span>   
                        </div>
                        <div class="form-group centerItems" *ngIf="adminLogged">                            
                            <mat-slide-toggle formControlName="type" class="someMargins">Korisnik - Agent</mat-slide-toggle>                        
                        </div>      
                        <div class="form-group">
                            <button [disabled]="loading" class="standardButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Registruj se
                            </button>                            
                        </div>                        
                    </form>
                </div>            
            </div>
        </div>
    </div>
</div>