.registerModal{
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;    
    height: 70%;
    overflow-y: hidden;    
}

.fields{
    max-height: 90%;   
    overflow: auto;    
}

.noRPadding{
    padding-right: 0px;
}

.blurDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);    
    z-index: 1000;
}

.title{
    background-color: var(--ming);
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.errorMessage{
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.profilePicture{
    display: flex;
    justify-content: center;    
    padding: 8px;    
    margin: 0px;
}

.profilePicture > img {
    max-width: 200px;
    width: 50%;
}