<toolbar></toolbar>

<div class="marginSix">
    <div class="col-12">
        <h2 class="title">Podešavanja</h2>                
    </div>
    <div class="col-12 fields">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" name="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Email</label>
                        <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                            <div *ngIf="f.mail.errors.required">Mail is required</div>
                            <div *ngIf="f.mail.errors.email">Enter valid mail format</div>
                            <div *ngIf="f.mail.errors.unique">Mail already taken</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.unique">Username already taken</div>                                
                        </div>
                    </div>                    
                    <div class="form-group">                            
                        <label for="oldPassword">Old password</label>                                                       
                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && ( f.oldPassword.errors || fe ) }"/>
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.wrongPassword">Invalid password</div>                                 
                        </div>          
                        <div *ngIf="submitted && fe" class="invalid-feedback">
                            <div *ngIf="fe.notEverythingFilled">Provide old password</div>
                        </div>
                    </div>                       
                    <div class="form-group">                            
                            <label for="password">New password</label>                                                       
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ( f.password.errors || fe ) }"/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.notEverythingFilled">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                <div *ngIf="f.password.errors.pattern">One lower case, one upper, one number and one special required</div>
                                <div *ngIf="f.password.errors.consequentCharacters">Cant use more than two same consequent characters</div>
                            </div>  
                            <div *ngIf="submitted && fe" class="invalid-feedback">
                                <div *ngIf="fe.notEverythingFilled">Provide new password</div>
                            </div>        
                    </div>                    
                    <div class="form-group">                                                                                        
                            <label for="repeatPassword">Repeat password</label>
                            <input type="password" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && ( f.repeatPassword.errors || fe ) }" />
                            <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.repeatPassword.errors.notEverythingFilled">Repeat your password</div>                                        
                            </div>                                                    
                            <div *ngIf="submitted && fe" class="invalid-feedback">
                                <div *ngIf="fe.mismatchedPasswords">Passwords must match</div>                            
                                <div *ngIf="fe.notEverythingFilled">Repeat new password</div>                                
                            </div>                                                                                    
                    </div>                         
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Country is required</div>
                        </div>
                    </div>                        
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>                                                                                          
                    <div class="form-group">
                        <label for="img">Profile picture</label>
                        <br/>
                        <input type="file" (change)="handleFileInput($event.target.files)" accept="image/*" />                            
                    </div>
                    <div class="form-group centerItems">                        
                        <span class="circle-image">
                            <img class="profilePic" src="{{f.img.value != '' ? f.img.value : 'assets/defaultUserImg.png'}}" />
                        </span>                        
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="standardButton">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save changes
                        </button>                            
                    </div>                        
                </form>
            </div>            
        </div>
    </div>
</div>